@font-face {
  font-family: 'SchulBuchNord';
  src: url('~assets//fonts/SchulbuchNordW05-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SchulbuchNord';
  src: url('~assets/fonts/SchulbuchNordW05-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: 'SchulBuchNord', sans-serif;
  font-size: 62.5%;
  line-height: 1.4;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $color-text-primary;
}

::selection {
  background: $color-text-primary;
  color: $cobalt-green;
}

p {
  margin-bottom: 1em;
}

%header {
  font-family: 'SchulBuchNord', sans-serif;
  font-weight: normal;
  margin-bottom: 1em;
  line-height: 1.35;
}

.header {
  @extend %header;
  &--1 {
    font-size: 4rem;
  }
  &--2 {
    font-size: 3.2rem;
  }
}

.body {
  font-size: 2.4rem;
}
