/*
This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: http://www.fontshop.com
*/

@font-face {
  font-family: 'SchulbuchNord';
  src: url('~assets/fonts/96bf99c9-8907-4c4e-9d22-afb130e0c225.eot?#iefix');
  src: url('~assets/fonts/96bf99c9-8907-4c4e-9d22-afb130e0c225.eot?#iefix') format('eot'), url('~assets/fonts/47a35741-3584-4dad-b04f-d79fc81db42b.woff2') format('woff2'), url('~assets/fonts/66298d62-e9e6-4688-9f87-c1d37448429a.woff') format('woff'), url('~assets/fonts/3917c830-98bc-45e5-b2e8-56b1cd8c8286.ttf') format('truetype');
}


html {
  font-family: 'SchulBuchNord', sans-serif;
  font-size: 62.5%;
  line-height: 1.4;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $primary;
}

::selection {
  background: $primary;
  color: $cobalt-green;
}

p {
  margin-bottom: 1em;
}

%header {
  font-family: 'SchulBuchNord', sans-serif;
  font-weight: normal;
  margin-bottom: 1em;
  line-height: 1.35;
}

.header {
  @extend %header;
  &--1 {
    font-size: 4rem;
  }
  &--2 {
    font-size: 3.2rem;
  }
}

.body {
  font-size: 2.4rem;
  max-width: 100%;
  width: 32em;
}

.link {
  text-decoration: none;
  color: inherit;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 0.1em;
    position: absolute;
    bottom: -0.1em;
    left: 0;
    background: $primary;
    transition: bottom 0.2s;
  }

  &:hover {
    &::after {
      bottom: 40%;
    }
  }
}
